@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: "Alata", sans-serif;
}

#logo {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 200px;
}

.container {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-rows: 70px 100px 70px 70px;
}

.first-heading {
  color: #cbd653;
  font-size: 80px;
}

.second-heading {
  color: #2c57a0;
  font-size: 40px;
}

.create-game-btn,
.join-game-btn {
  border-radius: 8px;
  border: none;
  font-family: "Alata", sans-serif;
  color: white;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  font-size: 25px;
}

.create-game-btn:focus,
.join-game-btn:focus {
  outline: none;
  box-shadow: none;
}

.create-game-btn {
  background: #cbd653;
}

.join-game-btn {
  background: #2c57a0;
}

.create-game-btn:hover {
  background: #bac44b;
  cursor: pointer;
}

.join-game-btn:hover {
  background: #244682;
  cursor: pointer;
}


/* overlay styles */

.overlay{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.336);
  position: absolute;
  top: 0;
  display: none;
 
}


.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.create-game-card{
  position: relative;
  display: grid;
  width: 330px;
  height: 200px;
  background: white;
  border-radius: 10px;
}

.overlay input{
  text-align: center;
  border-radius: 8px;
  width: 260px;
  height: 40px ;
  justify-self: center;
  font-family: "Alata", sans-serif;
  border: 1px solid black;
  font-size: 18px;
}

.overlay p {
  font-size: 20px;
  margin-bottom: 0;
}

.cg-btn{
  width: 200px;
  justify-self: center;
  height: 40px;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  background: #2c57a0;
  font-family: "Alata", sans-serif;
  border: none;
  cursor: pointer;
}

.close-icon{
  width: 20px;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}