@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: "Alata", sans-serif;
}

#logo {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 200px;
}

.container {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-rows: 70px 100px 70px 70px;
}

.first-heading {
  color: #cbd653;
  font-size: 80px;
}

.second-heading {
  color: #2c57a0;
  font-size: 40px;
}

.create-game-btn,
.join-game-btn {
  border-radius: 8px;
  border: none;
  font-family: "Alata", sans-serif;
  color: white;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  font-size: 25px;
}

.create-game-btn:focus,
.join-game-btn:focus {
  outline: none;
  box-shadow: none;
}

.create-game-btn {
  background: #cbd653;
}

.join-game-btn {
  background: #2c57a0;
}

.create-game-btn:hover {
  background: #bac44b;
  cursor: pointer;
}

.join-game-btn:hover {
  background: #244682;
  cursor: pointer;
}
